.platos-container {

}

.platos-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: ;
  flex-direction: column;
  gap: 10px;
}

.plato-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3c1f1a;
  padding: 8px 12px;
  border-radius: 6px;
}

.plato-info {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  flex: 1;
  padding-right: 0.6rem;
}

.plato-nombre,
.plato-codigo,
.plato-precio  {
  color: #fff;
  font-size: 0.85rem;
  font-weight: 100;
  
}

.plato-nombre{
  flex: 0.8;
}

.plato-actions {
  display: flex;
  gap: 6px;
  align-items: center;
}

.btn-eliminar {
  background: #c0392b;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
}

.btn-aprobar {
  background: #27ae60;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
}

.btn-aprobar-todos {
  background: #0a7527;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
width: 10rem;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.badge.confirmado {
  font-size: 0.65rem;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  border: #106f38 solid 1px;
}

.grupo-botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; /* Espacio entre botones */
  margin-bottom: 1rem;
  flex-wrap: wrap; /* Por si en móvil no caben en una sola línea */
}