/*frontend/src/components/CamareroLoginOtp.css */
.login-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.login-input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px 10px;
  border: 1px solid #b7b1b1;
  border-radius: 4px;
  color: white;
}

.login-button {
  background-color: #c3c9d0;
  color:black;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;

}

.login-button:hover {
  background-color: #1b830b;
  color: white;
}

.login-message {
  margin-top: 15px;
  color: white;
}


/* Initial placeholder styles (static color) */
input.login-input::placeholder {
  color:  #f8f7f7;
  transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;

}

.login-input:focus::placeholder {
  color: rgba(210, 214, 215, 0.354);


}



/* Activa el parpadeo solo cuando lo pidas con la clase */
.login-input.verifity-code{
  animation: blink 3s infinite;
  -webkit-animation: blink 2s infinite;
}

@keyframes blink {
  0%, 100% {
   border: #a4a6a4 solid 1px;
  }
  50% {
    border: 1px solid rgba(164, 166, 164, 0.2);
  }
}
