/* Estilos base para la tarjeta */
.comensal-card {

  overflow: hidden;
  transition: box-shadow 0.3s ease;
  border-top: 2px solid transparent;

}

/*  Resaltado si hay pendientes */
.comensal-card.alerta {
  border-color: #ff4d4d;
  box-shadow: 0 0 5px #ff4d4d;
}

/* Cabecera */
.comensal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.6em 0rem;
  background-color: #4e2a1f;
  font-weight: bold;
  color: white;

  transition: background-color 0.3s ease;
}

/* Izquierda: punto y nombre */
.comensal-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.estado-dot {
  font-size: 0.5rem;
}

.comensal-nombre {
  white-space: nowrap;
}

/* Centro: platos pendientes */
.comensal-pendientes {
  flex: 0.5;
  text-align: center;
  white-space: nowrap;
  background-color: #631c1c;
  border-radius: 6px;
  padding: 2px 6px;
  font-size: 0.9rem;
}

/* Animaci贸n: parpadeo */
@keyframes parpadeo {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.2; }
}

/* Animaci贸n: peque帽o movimiento */
@keyframes sacudida {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}

.comensal-card.alerta >.comensal-header >.comensal-pendientes > span {
   font-size: 1.5rem;
   animation: parpadeo 2s ease-in-out infinite, sacudida 0.4s ease-in-out infinite;
   -webkit-animation: parpadeo 2s ease-in-out infinite, sacudida 0.4s ease-in-out infinite;
}

/* Derecha: total */
.comensal-total {
  flex: 1;
  text-align: right;
  border-radius: 6px;
  padding: 2px 6px;
  font-size: 0.9rem;
}

/* Secci贸n colapsable con transici贸n */
.comensal-expandible {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.2s ease;
  -webkit-transition: max-height 0.2s ease;
  -moz-transition: max-height 0.2s ease;
  -ms-transition: max-height 0.2s ease;
  -o-transition: max-height 0.2s ease;
}

.comensal-expandible.collapsed {
  max-height: 0;
  padding: 0;
  margin: 0;
}

/* Botones */
.comensal-actions {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  gap: 0.6rem;
  background-color: #3b1c14;
}

.btn-toggle,
.btn-qr {
 width: 10rem;
  padding: 6px 8px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  transition: 0.2s;
}

.btn-toggle {
  background-color: #6f4036;
  color: #fff;
}
.btn-toggle:hover {
  background-color: #8b554a;
}

.btn-qr {
  background-color: #adaba3;
  color: #000000;
}
.btn-qr:hover {
  background-color: #6b6b66;
}

/* QR */
.qr-individual {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.6rem;
}

.qr-individual p {
  font-size: 0.8rem;
  margin-top: 6px;
  color: #fff;
}
